.item{
    display: flex;
    justify-content: center;
    padding-top: 50px;

    .content{
        font-size: 22px;
        max-width: 1200px;
        .top{
            display: flex;
            flex-direction: row;
            .image{
                display: flex;
                justify-content: center;
                max-width: 50vw;
                
                img{
                    width: 100%;
                    max-height: 800px;
                }
                @media only screen and (max-width: 980px) {
                    
                    max-width: 90vw;
                    
                  }
            }
            @media only screen and (max-width: 768px) {
                    
                align-items: center;
                
            }
            .aside{
                display: flex;
                flex-direction: column;
                width: 100%;
                @media screen and (min-width: 980px) {
                    margin-left: 20px;
                }
                .title{
                    font-size: 28px;
                    font-weight: 600;
                }
                @media only screen and (max-width: 768px) {
                    .title{
                        font-size: 20px;
                        
                    }
                }
                .avaible{
                    color: green;
                }
                .price{
    
                }
                .btn{
    
                }
            }
        }
        @media only screen and (max-width: 980px) {
            .top{
                flex-direction: column;
                
            }
        }
        .bottom{
            .label{
                font-size: 28px;
                font-weight: 600;
            }
            @media only screen and (max-width: 768px) {
                .label{
                    font-size: 20px;
                    
                }
            }
            .description{
                
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .content{
            margin: 10px;
            font-size: 14px;
        }
    }
}