.home {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
}
.home .center {
  font-size: 22px;
  width: 1200px;
  overflow: hidden;
}
.home .center .title {
  font-size: 36px;
}
.home .center .line {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: 20px;
}
.home .center .content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.home .center .content .production {
  display: block;
}
.home .center .content .production .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  max-width: 100%;
  margin-top: 30px;
  justify-content: space-around;
}
.home .center .content .production .list a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}
.home .center .content .production .list a .block {
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
  max-height: 340px;
  white-space: normal;
  box-sizing: content-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.2s;
}
.home .center .content .production .list a .block .image {
  width: min(18vw + 80px, 250px);
  height: min(18vw + 80px, 250px);
  object-fit: cover;
}
.home .center .content .production .list a .block div {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: max(min(3vw, 22px), 14px);
}
.home .center .content .production .list a .block:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.home .center .content .services {
  display: block;
}
.home .center .content .services .list {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.home .center .content .services .list .list-el {
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.05);
}
.home .center .content .services .list .list-el img {
  width: max(150px, min(18vw + 80px, 200px));
  margin-bottom: 10px;
}
.home .center .content .services .list .list-el .label {
  text-align: center;
  font-size: max(min(3vw, 22px), 16px);
}

@media only screen and (max-width: 768px) {
  .home .center .content .top {
    flex-direction: column;
  }
  .home .center .content .top .navigation {
    width: 100%;
  }
  .home .center .content .top .navigation .links {
    flex-direction: column;
    align-items: center;
  }
  .home .center .content .top .navigation .links a {
    width: 95%;
    height: 50px;
  }
  .home .center .content .top .description {
    margin-top: 20px;
    width: 100%;
  }
  .home .center .content .top .description .text {
    font-size: 16px;
  }
  .home .center .content .services {
    overflow: hidden;
  }
  .home .center .content .services .list {
    width: 1200px;
    max-width: 100%;
    overflow-x: scroll;
    margin-top: 30px;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .home .center .content .services .list::-webkit-scrollbar {
    display: none;
  }
  .home .center .content .services .list .list-el {
    white-space: normal;
    box-sizing: content-box;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.05);
  }
  .home .center .content .services .list .list-el img {
    width: max(150px, min(18vw + 80px, 200px));
    margin-bottom: 10px;
  }
  .home .center .content .services .list .list-el .label {
    text-align: center;
    font-size: max(min(3vw, 22px), 16px);
  }
}/*# sourceMappingURL=home.css.map */